# caches / generated
.cache/
**/.cache/
config/**/.cache/
config/ml4w/**/hyprland-dotfiles/
config/ml4w/**/wallpaper-generated/

# lockscreen generated images
**/blurred_wallpaper.png
**/square_wallpaper.png
**/current_wallpaper
**/current_wallpaper.rasi

# secrets / machine-specific
**/secrets*
**/*.key
**/*.pem

# logs
**/*.log

